In [1]:
import pandas as pd, matplotlib.pyplot as plt

In [2]:
file1 = "Stats19-Data1979-2004/Accidents7904.csv"

accidents = pd.read_csv(file1,
sep=',',
header=0,
index_col=False,
parse_dates=['Date'],
dayfirst=True,
tupleize_cols=False,
error_bad_lines=True,
warn_bad_lines=True,skip_blank_lines=True,
nrows=1000000)

/home/elshad/Documents/BI/.py3/lib/python3.6/site-packages/pandas/io/parsers.py:782: FutureWarning: The 'tupleize_cols' argument has been deprecated and will be removed in a future version. Column tuples will then always be converted to MultiIndex.


  self.options, self.engine = self._clean_options(options, engine)

# 1 milyon sətrin başlanğıc və son tarixləri

In [3]:
max_date = accidents.Date.max()
min_date = accidents.Date.min()
print("Start date:", min_date.strftime("%d-%m-%Y"))
print("End date:", max_date.strftime("%d-%m-%Y"))

Start date: 01-01-1979
End date: 31-12-1982

# Başlanğıc və son tarix aralığında nəs günlərin sayı və siyahısı

In [4]:
date_range = pd.date_range(start=min_date, end=max_date)
dates = []

for date in date_range:
    if date.day == 13 and date.dayofweek == 5:
        dates.append(date.strftime("%d-%m-%Y"))
    
print(f"Count of satan days between {date_range.min()} and {date_range.max()} is: {len(dates)}")
print(f"List of satan days between {date_range.min()} and {date_range.max()} are: {dates}")

Count of satan days between 1979-01-01 00:00:00 and 1982-12-31 00:00:00 is: 8
List of satan days between 1979-01-01 00:00:00 and 1982-12-31 00:00:00 are: ['13-01-1979', '13-10-1979', '13-09-1980', '13-12-1980', '13-06-1981', '13-02-1982', '13-03-1982', '13-11-1982']

# Nəs günlər mifi (ayın 13-ü cümə günləri)

Bu inancın doğruluğunu test edək

In [5]:
# Nəs günlər üçün yeni column əlavə edirik, nəs gün üçün 1, digər günlər üçün 0 olacaq
result = accidents.groupby('Date', as_index=False).count().sort_values(['Date'], ascending=False)
result['is_satan_day'] = result.Date.apply(lambda date: 1 if date.day == 13 and date.dayofweek == 5 else 0)
result = result.groupby('is_satan_day', as_index=False).sum().sort_values('is_satan_day', ascending=False)
result = result.loc[:, ['is_satan_day', 'Accident_Index']]

result['percentage'] = result['Accident_Index'] * 100 / result.sum()['Accident_Index']
result['percentage'] = result['percentage'].astype('str')
result['percentage'] = result['percentage'].apply(lambda p: p + ' %')
result

   is_satan_day  Accident_Index percentage
1             1            5926   0.5926 %
0             0          994074  99.4074 %

In [6]:
accidents.groupby('Date').agg({'Accident_Index': 'count'})

            Accident_Index
Date
1979-01-01             343
1979-01-02             334
1979-01-03             367
1979-01-04             319
1979-01-05             466
1979-01-06             409
1979-01-07             360
1979-01-08             649
1979-01-09            1084
1979-01-10             651
1979-01-11             697
1979-01-12             873
1979-01-13             653
1979-01-14             432
1979-01-15             571
1979-01-16             588
1979-01-17             642
1979-01-18             578
1979-01-19             951
1979-01-20             579
1979-01-21             553
1979-01-22             485
1979-01-23             479
1979-01-24             493
1979-01-25             638
1979-01-26             765
1979-01-27             558
1979-01-28             398
1979-01-29             788
1979-01-30             544
...                    ...
1982-12-02             837
1982-12-03            1041
1982-12-04             803
1982-12-05             558
1982-12-06             825
1982-12-07             872
1982-12-08             732
1982-12-09             996
1982-12-10             926
1982-12-11            1045
1982-12-12             496
1982-12-13             807
1982-12-14             840
1982-12-15             755
1982-12-16             762
1982-12-17             999
1982-12-18             801
1982-12-19             529
1982-12-20             744
1982-12-21             777
1982-12-22             885
1982-12-23             967
1982-12-24             905
1982-12-25             300
1982-12-26             299
1982-12-27             344
1982-12-28             302
1982-12-29             363
1982-12-30             372
1982-12-31             447

[1461 rows x 1 columns]

In [5]:
8 * 100 / 1461

0.5475701574264202

In [4]:
# Nəs günlər üçün yeni column əlavə edirik, nəs gün üçün 1, digər günlər üçün 0 olacaq
result = accidents.groupby('Date', as_index=False).count().sort_values(['Date'], ascending=False)
result['is_satan_day'] = result.Date.apply(lambda date: 1 if date.day == 13 and date.dayofweek == 5 else 0)
result = result.groupby('is_satan_day', as_index=False).sum().sort_values('is_satan_day', ascending=False)
result = result.loc[:, ['is_satan_day', 'Accident_Index']]

result['percentage'] = result['Accident_Index'] * 100 / result.sum()['Accident_Index']
result['percentage'] = result['percentage'].astype('str')
result['percentage'] = result['percentage'].apply(lambda p: p + ' %')
result

   is_satan_day  Accident_Index percentage
1             1            5926   0.5926 %
0             0          994074  99.4074 %

In [6]:
# Nəs günlər üçün yeni column əlavə edirik, nəs gün üçün 1, digər günlər üçün 0 olacaq
result2 = accidents.groupby('Date', as_index=False).count().sort_values(['Date'], ascending=False)
result2['is_satan_day'] = result2.Date.apply(lambda date: 1 if date.day == 13 and date.dayofweek == 1 else 0)
result2 = result2.groupby('is_satan_day', as_index=False).sum().sort_values('is_satan_day', ascending=False)
result2 = result2.loc[:, ['is_satan_day', 'Accident_Index']]

result2['percentage'] = result2['Accident_Index'] * 100 / result2.sum()['Accident_Index']
result2['percentage'] = result2['percentage'].astype('str')
result2['percentage'] = result2['percentage'].apply(lambda p: p + ' %')
result2

   is_satan_day  Accident_Index percentage
1             1            4909   0.4909 %
0             0          995091  99.5091 %